/* You can add global styles to this file, and also import other style files */

#themecolors a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.btn-top {
    margin-top: 25px;
}

.align-center {
    text-align: center;
}

.w150 {
    width: 150px;
    height: 135px;
}